@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  
  /* Custom Theme Colors */
  --card: #18181b; /* zinc-900 */
  --card-foreground: #ffffff;
  
  --primary: #4ade80; /* green-400 */
  --primary-foreground: #000000;
  
  --secondary: #27272a; /* zinc-800 */
  --secondary-foreground: #e4e4e7; /* zinc-200 */
  
  --muted: #a1a1aa; /* zinc-400 */
  
  --border: #27272a; /* zinc-800 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  
  --color-muted: var(--muted);
  
  --color-border: var(--border);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
